
.groups {
    // padding-top: 5rem;
    // position: relative;
}
.group_cards {
    // ackground-color: hsl(207, 100%, 98%);
    background-image: url('../images/bg-section-top-mobile-1.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.image_list {
    padding: 2rem;
    text-align: center;
}
.list1 {
    background-color: hsl(207, 100%, 98%);
    // background-image: url('../images/bg-section-top-mobile-1.svg');
    // background-repeat: no-repeat;
    // background-size: 100%;
}
.group_image {
    width: 100%;
    padding-top: 100px;
}