@import "./variable/variable";
.masthead_container {
    @include flex-element();
    background-color:  hsl(0, 0%, 100%);
    padding: 1rem;
    flex-wrap: wrap;
} 

#masthead_logo> img{
    width: 100%;
    max-width: 150px;
}
.masthead_button {
    padding: 0.5rem;
    color:  hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    width: 100px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px hsla(321, 100%, 78%, 0.5);
}
